main {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 2rem;
  padding: 2rem;
  place-content: center;
}

.weather-card {
  background-color: var(--frosted-background-color);
  backdrop-filter: var(--frosted-filter-blur);
  border: var(--frosted-border);
  border-radius: 5px;
  box-shadow: var(--frosted-box-shadow);
}
