main {
  align-self: center;
  flex: 1;
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-flow: row;
  gap: 1rem;
  place-content: center;
  padding: 1rem;
  min-width: 960px;
}

main:has(.loader) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-card {
  background-color: var(--frosted-background-color);
  backdrop-filter: var(--frosted-filter-blur);
  border: var(--frosted-border);
  border-radius: 5px;
  box-shadow: var(--frosted-box-shadow);
}

.test {
  min-height: 200px;
  /* background-color: red; */
}
