.weather-details {
  grid-column: 1/9;
  grid-row: 9/13;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.weather-details-item {
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  /* gap: 0.5em; */
  font-size: 1.1rem;
}

.weather-details-item .label {
  margin-inline-end: 0.75rem;
  place-self: center;
}

.weather-details-item .label ~ * {
  font-size: 1.35rem;
}

.weather-details-item > .wrapper {
  display: flex;
  gap: 0.5rem;
}

.weather-details-item > .wrapper > * {
  display: flex;
}

.wind-direction {
  margin-inline-end: 0.5rem;
}
