.weather-overview {
  grid-row: 1/9;
  grid-column: 1/9;
}

.location-line-2 {
  display: flex;
  font-size: 1.5rem;
}

.location-line-2 .state {
  margin-right: 0.5rem;
}

.location-line-2 .state::after {
  content: ",";
}
